.spectrum-FocusRing.focus-ring:after {
  margin: calc(var(--spectrum-focus-ring-gap) * -1 - var(--spectrum-focus-ring-border-size));
  box-shadow: 0 0 0 var(--spectrum-focus-ring-size) var(--spectrum-focus-ring-color);
}

.spectrum-FocusRing--quiet.focus-ring:after {
  margin: 0 0 calc(var(--spectrum-focus-ring-gap) * -1 - var(--spectrum-focus-ring-border-size)) 0;
  box-shadow: 0 var(--spectrum-focus-ring-size) 0 var(--spectrum-focus-ring-color);
}

.spectrum-Button.focus-ring[data-style='fill'] {
  background-color: xvar(--spectrum-high-contrast-highlight, var(--spectrum-button-color-key-focus));
  color: xvar(--spectrum-high-contrast-button-face, var(--spectrum-button-text-color-key-focus));
}

.spectrum-Button.focus-ring[data-style='outline'] {
  background-color: xvar(--spectrum-high-contrast-transparent, var(--spectrum-button-background-color-key-focus));
  border-color: xvar(--spectrum-high-contrast-highlight, var(--spectrum-button-color-key-focus));
  color: xvar(--spectrum-high-contrast-button-text, var(--spectrum-button-text-color-key-focus));
}
